#result{
	max-height:300px;
	overflow:auto;
	border-bottom:2px solid #456576;
	display:none;
	padding:20px;
	margin-bottom:20px;
	
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

button{
	height:50px;
	width:200px;
	padding:5px;
	cursor:pointer;
	background-color:green;
	color:white;
	font-size:15px;
	font-weight:600;
}

p{
text-align:center;
}